@import "tailwindcss";

@plugin "daisyui" {
  themes: emerald --default;
}

body {
  @apply bg-gray-50 text-gray-800;
}

.sidebar-bg {
  background-color: #383E47;
}

.sidebar-active {
  background-color: #9B2C2C;
}

.streak-gold {
  color: #D97706;
}

.notification-badge {
  background-color: #9B2C2C;
}